// https://coolors.co/fecee9-eb9fef-545677-03254e-011c27
// #fecee9
// #eb9fef
// #545677
// #03254e
// #011c27

$color1: #fecee9;
$color2: #eb9fef;
$color3: #545677;
$color4: #03254e;
$color5: #011c27;
