@import 'styles/vas-palette.scss';

body {
  background: $color3;
  color: $color4;
}

h1 {
  text-align: center;
  color: $color2;
}

div.container {
  margin: 2em;
  padding: 2em;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  background: white;

  div.header {
    width: 100%;

    img.logo {
      width: 90px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  nav {
    ul {
      text-align: center;
      padding-left: 0px;

      li {
        display: inline;
        margin-right: 1em;
      }
    }
  }
  div.content {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
  }

  div.footer {
    width: 100%;
    text-align: center;
    color: $color2;
  }
}

.msg-error {
  background: red;
  color: white;
  padding: 1em;
}

.msg-success {
  background: green;
  color: white;
  padding: 1em;
}
